/* Color palette */
:root {
  --white: #ffffff;
  --black: #000000;
  --black-one: #333333;
  --resting-blue: #81b3d2;
  --guidance-blue: #669ec0;
  --pressed-blue: #5496bd;
  --resting-brown: #766357;
  --guidance-brown: #604e43;
  --pressed-brown: #503e33;
  --search-box-resting: #f2f2f2;
  --search-box-guidance: #ebebeb;
  --html-acad-resting: #231f20;
  --html-acad-guidance: #81b3d2;
  --html-acad-pressed: #bdbbbc;
  --background-advantege: #eeeeee;
}
/* General settings */
body {
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 24px;
  color: var(--black);
  background-color: var(--white);
  background-image: url("../img/backgroundphoto.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
}
/* header */
.main-header {
  font-weight: bold;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
}
.main-header-logo {
  background: transparent;
}
.center-img {
  display: block;
  margin: auto;
}
.site-navigation {
  list-style-type: none;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--resting-blue);
}

/* main-content */
.main-content {
  background-image: url("../img/maska.svg");
  background-position: top center;
  background-repeat: no-repeat;
}
.background-logo {
  background: transparent;
}
/* introduction */
.introduction {
  background-color: var(--white);
}
.introduction-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.introduction-text {
  font-size: 14px;
  line-height: 26px;
  color: var(--black-one);
}
/* advantages-img */
.advantages-img {
  background-color: var(--resting-blue);
  color: var(--white);
}
.advantages-img-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}
.advantages-img-number {
  font-size: 14px;
  line-height: 21px;
}
.advantages-img-text {
  font-size: 14px;
  line-height: 21px;
}
/* features */
.features{
background-color: var(--white);
}
.features-content{
  background-image: url("../img/icon1.svg");
  background-repeat: no-repeat;
}
.features-title{
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}
.features-text{
  font-size: 14px;
  line-height: 21px;
  color: var(--black-one);
}
/* advantages */
.advantages{
background-color: var(--background-advantege);
}
.advantages-list{
  list-style-type: none;
}

.advantages-title{
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}
.advantages-number{
  font-size: 14px;
  line-height: 21px;
  color: var(--black-one);
}
.advantages-text{
  font-size: 14px;
  line-height: 21px;
  color: var(--black-one);
}
/* search-hotel */
.search-hotel{
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}
.search-hotel-text{
  font-size: 14px;
  line-height: 24px;
  color: var(--black-one);
}
/* map */

/* footer */
.footer{
  bakground-color: var(--white);
}
.contacts{
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.social{

}
.social-links-list{
  list-style-type: none;
}
.social-img-twitter{
  background-image: url("../img/twiter.svg");
  background-color: var(--resting-blue);
  background-repeat: no-repeat;
}
.social-img-facebook{
  background-image: url("../img/fb.svg");
  background-color: var(--resting-blue);
  background-repeat: no-repeat;
}
.social-img-youtube{
  background-image: url("../img/yt.svg");
  background-color: var(--resting-blue);
  background-repeat: no-repeat;
}
/* copytight */
.copytight{
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
}

