:root {
  --white: #ffffff;
  --black: #000000;
  --resting-blue: #81b3d2;
  --guidance-blue: #669ec0;
  --pressed-blue: #5496bd;
  --resting-brown: #766357;
  --guidance-brown: #604e43;
  --pressed-brown: #503e33;
  --search-box-resting: #f2f2f2;
  --search-box-guidance: #ebebeb;
  --html-acad-resting: #231f20;
  --html-acad-guidance: #81b3d2;
  --html-acad-pressed: #bdbbbc;
  --background-advantege: #eeeeee;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 24px;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--white);
  background-image: url("../img/backgroundphoto.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* header */
.main-header {
  background-color: var(--white);
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--black);
  background-color: transparent;
}

.site-navigation {
  text-decoration: none;
}

.site-navigation a {
  color: var(--black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--resting-blue);
}
/* main-content */

.main-content {
  background-color: var(--white);
}

.background-logo {
  width: 456.65px;
  height: 350.88px;
}

.introduction {
  font-size: 14px;
  line-height: 21px;
}

.content-city {
  background-color: var(--resting-blue);
  font-size: 14px;
  line-height: 21px;
}

.subject-text {
  font-size: 21px;
  line-height: 21px;
}

.desc-background {
  background-color: var(--white);
}

.desc {
  font-size: 14px;
  line-height: 21px;
}

.item {
  font-size: 14px;
  line-height: 21px;
}

.advantages-background {
  background-color: var(--background-advantege);
}

.advantages-item {
  font-size: 21px;
  line-height: 21px;
  list-style-type: none;
}

.search-hotel {
  font-size: 30px;
  line-height: 24px;
}

.text-search-hotel {
  font-size: 14px;
  line-height: 24px;
}

.footer {
  background-color: var(--white);
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
}

.footer a {
  color: var(--black);
}

.footer-social-list {
  text-align: center;
}

.footer-social-list a:hover,
.footer-social-list a:focus {
  color: var(--guidance-blue);
}

.footer-social {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.copytight a:hover,
.copytight a:focus {
  color: var(--resting-blue);
}
